<div id="MeasurementTypeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"> &times;</button>
        <h4 class="modal-title"> Edit Measurement Type</h4>
      </div>
      <div class="modal-body">
        <%=form_for 'measurement_type', url:'/measurement_types' do |f| %>
          <% measurement_type_class.identifying_attributes.each do |attribute| %>
            <div class="form-group">
              <%= f.label attribute.to_sym %>
              <%= f.text_field attribute.to_sym, class:'form-control' %>  
            </div>
          <% end %>
          <%=f.submit 'Save', class:'btn btn-primary form-control' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>