<%= form_for('subscription', url: '/subscriptions', html: {class: "col-sm-6 col-sm-offset-3"}) do |f| %>

  <div class="form-group">
    <%= f.collection_select(:entity_type_id, 
      @entity_types, :id, :name,
      {:prompt => 'Please select an entity_type'}, class: "form-control", :required => true)  %>
  </div>

  <div class="form-group">
    <%= f.submit "Subscribe", class:"form-control btn btn-primary" %>
  </div>
  
  <div class="form-group">
    <%= link_to 'Back', subscriptions_path, class:"btn btn-info form-control" %>
  </div>

<% end %>
