<% if can_reset? %>
  <hr>
  <%= form_for 'reset_token', url: '/systems/reset_token' do |f| %>
    <%= f.hidden_field :system_id, value: @system.id %>
    <div class="form-group">
      <%= f.submit "Reset Access Token", class: "btn btn-warning form-control" %>
    </div>
  <% end %>
  <hr>
<% end %>