
<% system_class.identifying_attributes.each_with_index do |attribute, i| %>
    <p>
      <strong><%= attribute.to_s %></strong>
      <%= @system.send attribute %>  
    </p>
<% end %>

<%= link_to 'Edit', edit_system_path(@system.id), class: "btn btn-success" %> |
<%= link_to 'Back', systems_path, class: "btn btn-info" %>
