body {
  > footer {
    z-index: 0;
    padding: 60px;
  }
}

ul, ol {
  list-style: none;
}

.field_name, a.entity_type_name {
  color: DimGray;
  margin-right: 7px;
  font-weight: bold;
}


a:visited, a:hover, a:active, a:link {
    text-decoration: none;
}

.panel-default {
  min-height: 300px;

  button#create_new {
    margin-top:15px;
  }

  h4 {
    margin-top:70px;
  }

  h3 {
    margin-top: 0;
    text-decoration: underline;
  }

  h5 {
    margin: 30px;
  }

  p {
    display: block;
  }

  a.btn {
    margin-bottom: 10px;
  }

  .relationship_types_container {
    padding: 4px;

    a, p {
      display:inline;
    }

    a {
      margin-left:5px;
    }

    
  }

  .measurement_types_container {
    min-height:60px;

    h4, h5 {
      margin:35px;
      a {
        margin-left: 5px;
      }
      p{
        display:none;
      }
    }

   
  }
}




